---
---

<div class="main-text-container">
    <h1 class="principal-text-bg">👋 HI!</h1>
    <p class="principal-text-bg">My name is Jaime Gareca</p>
    <p class="principal-text-bg">A <span class="principal-text-bg emphasized-text-bg">Full Stack Developer</span></p>
    <p class="principal-text-bg">Who are you?</p>
    <p id="test" class="principal-text-bg">a</p>
    <input class="emphasized-text-bg principal-input-bg" id="inputName"/>
    <span class="principal-text-bg">  🖉</span>
</div>

<script> 
    import { isName } from "../../states/nameState.js";

    function changeName(newValue) {
        isName.set(newValue);
    }

    isName.subscribe( name => {
        document.getElementById('inputName').value = name;
        document.getElementById('test').textContent = name;
    })

    document.getElementById('inputName').addEventListener('input', function (event) {
        changeName(event.target.value);
    });

</script>

